.avatar {
    display: flex;
    position: absolute;
    top: 10%;
    left: 66vw;
}

.avatar__image {
    width: 200px;
    height: auto;
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.8));
}

.avatar__balloon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    width: 210px;
    height: 80px;
    top: 70px;
    left: -50px;
    position: relative;
    align-items: flex-start;
    border-radius: 10px;
    background: var(--button);
    box-shadow:  0px 0px 0px #533cc7,
                10px 10px 30px #7151ff;
}

.avatar__balloon:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent 13px;
    top: 5px;
    border-right-color: var(--button);
    left: -25px;
}

.avatar__balloon__message {
    text-align: left;
    margin: 20px;
    color: var(--button-text);
    font-family: Roboto;
    font-size: 18px;
}