.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 70vw;
    top: 40vh;
}

.controls__left {
    margin: 2px 5px;
}

.controls__left__text {
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: .6px;
    text-shadow: 1px 1px rgba(255, 255, 255, .4);
}

.left {
    color: var(--highlight);
    font-weight: 600;
    text-shadow: 1px 1px var(--button-text);
}

.controls__clear {
    padding: 10px 15px;
    margin-bottom: 4px;
    background-color: var(--deleted);
    color: var(--button-text);
    border: 1px solid var(--deleted);
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.controls__clear:hover {
    box-shadow:
        0   2.8px   3.7px   rgba(0, 0, 0, 0.02),
        0   6.7px   8.8px   rgba(0, 0, 0, 0.028),
        0   12.5px  15.8px  rgba(0, 0, 0, 0.035),
        0   22.3px  25.7px  rgba(0, 0, 0, 0.042),
        0   41.8px  41.5px  rgba(0, 0, 0, 0.05),
        0   100px   80px    rgba(0, 0, 0, 0.07)
    ;
}

@media (max-width: 700px) {
    .controls {
        width: 200px;
        left: 0;
    }

    .controls__left__text {
        font-size: 18px;
        text-shadow: 1px 1.4px rgba(10, 10, 10, .4);
    }

    .left {
        text-shadow: 1px 1px var(--paragraph);
    }
}