@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --background: #fffffe;
    --headline: #2b2c34;
    --paragraph: var(--headline);
    --highlight: #e45858;
    --button: #6246ea;
    --button-text: var(--background);
    --item-background: #d1d1e9;
    --item-item-checked: var(--highlight);
    --deleted: var(--highlight);
}

html {
    background: linear-gradient(125deg, var(--background) 0%,
                                        var(--background) 40%,
                                        #B2FCFF calc(40% + 1px),
                                        #B2FCFF 60%,
                                        #5EDFFF calc(60% + 1px),
                                        #5EDFFF 72%,
                                        #3E64FF calc(72% + 1px),
                                        #3E64FF 100%);
}
