.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app__input {
    display: grid;
    grid-template-columns: 8fr .5fr .5fr;
}

.app__input > * {
    margin: 1px;
    font-family: Roboto;
}

.app__left {
    margin: 5px;
}

.app__left__text {
    text-align: center;
    font-family: Roboto;
    letter-spacing: .6px;
}