.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo__input {
    display: grid;
    grid-template-columns: 8fr .5fr .5fr;
    padding-top: 10px;
}

.todo__input > * {
    margin: 1px;
    font-family: Roboto;
    font-size: 14px;
}

.todo__left {
    margin: 5px;
}

.todo__left__text {
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    letter-spacing: .6px;
}

.left {
    color: var(--highlight);
}